<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChangePassword</title>
</head>
<body>
  change ton password ici mon grand !
  <h1>Change Password</h1>
  <form action="/changepassword" method="POST">
    <label for="OldPassword">Anciens mot de passe :</label>
    <input type="password" id="OldPassword" name="OldPassword"><br><br>
    <label for="Password">Nouveau mot de passe :</label>
    <input type="password" id="Password" name="Password"><br><br>
    <label for="PasswordCheck">Nouveau mot de passe check :</label>
    <input type="password" id="PasswordCheck" name="PasswordCheck"><br><br>
    <input type="submit" value="Change Password">
    <p> {{ .ProcessMessage }}</p>
  </form>
</body>
</html>