<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createpost</title>
</head>
<body>
  <form action="/creationposte" method="post">

    <h1>Creez votre post</h1>

    <fieldset>
      <label for="titre">Titre du post:</label>
      <input type="text" id="titre" name="titre" required maxlength="60">


      <label for="theme">Choisir le theme :</label>
      <select id="theme" name="theme">
        <option value="rugby">rugby</option>
        <option value="tennis">tennis</option>
        <option value="basket">basket</option>
        <option value="football">football</option>
        <option value="formule1">formule 1</option>
        <option value="handball">handball</option>
      </select>


      <label for="description">Description du post:</label>
      <input type="text" id="description" name="description" required maxlength="2200">


    </fieldset>
    <button type="submit">creer le post</button>
    <a href="/accueil" >retour</a>
  </form>
</body>
</html>