<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./assets/css/inscription.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Inscription</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/login" method="post">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                       <input type="username">
                       <label for="username" id="username"></label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="password" id="password"></label>
                     </div>
                     <div class="forget">
                        <label for=""><input type="checkbox">Remember Me</label>
                    <a href="#">Forget Password</a>
                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>Don't have a account <a href="/register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>