<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="/register" method="POST">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="passwordcheck">Mot de passe check:</label>
    <input type="password" id="passwordcheck" name="passwordcheck"><br><br>
    <label for="firstname">Prenom :</label>
    <input type="text" id="firstname" name="firstname"><br><br>
    <label for="lastname">Nom :</label>
    <input type="text" id="lastname" name="lastname"><br><br>
    <label for="mail">mail :</label>
    <input type="email" id="mail" name="mail"><br><br>
    <label for="lastname">Age :</label>
    <input type="number" id="age" name="age"><br><br>
    <label for="icon">Choisir une couleur d'icon :</label>
    <select id="icon" name="icon">
        <option value="violet">violet</option>
        <option value="bleu">bleu</option>
        <option value="vert">vert</option>
        <option value="jaune">jaune</option>
        <option value="orange">orange</option>
        <option value="rouge">rouge</option>
    </select><br><br>
    <p>{{ .ProcessMessage }}</p>
    <input type="submit" value="Register">
    <a href="/login" >Se connecter</a>
</form>
</body>
</html>